span{
    background-color: #ff0000;
    display: block;
    height: 100px; /*if display is inline, width and height don't work*/
    width: 100px;
    float: right;
    
}

div{
    background-color: #00ff00;
    height: 100px;
    width: 300px;
    border: 1px solid;
    float: left;
}

p{
    background-color: #0000ff;
    height: 100px;
    margin: 0;
    border: solid 1px;
    clear:both;
    /* display: none; */
}

