/*
 This file is for index.html
 Here, we use the css file "together1.css" from Week1 "01-05 Code Together". 
*/ 

/* this should be for body tag
h1{
    background-color: #b3b3b3; 
    font-size: 150%;
}
*/

body{
    background: #b3b3b3 url("https://th.bing.com/th/id/R.f3d22d1f3f70aa21df250f530429f7d6?rik=Zapqksp1DxahJQ&pid=ImgRaw&r=0") no-repeat fixed ;
    background-size: 100% 100%;
    font-size: 150%;
    margin: 4%;
}

header{
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 15px;
}

h1{
    color: #ffffff;
}

nav{
    font-variant: small-caps;
    font-size: 150%;
    font-family: arial, "Time New Roam", serif;
}

h2{
    color: #666666;
    background: #00b7ea;
}

details{
    font-style: italic;
}

summary{
    font-style: normal;
}

footer{
    background-color: rgba(0, 0, 0, 0.4);
    clear:both;
    padding: 15px;
}

section{
    width: 30%;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
}

img{
    width: 75px;
}

p{
    margin: 0px;
}

a{
	background-color:#000000;
	color: #ffffff;
}

a:hover,
a:focus{
	background-color:#6b5555;
	color:#000000;
}

